In [28]:
import pymysql
import pandas as pd
import numpy as np
import matplotlib
import matplotlib.pyplot as plt

# DB 연결 및 테이블 생성

In [2]:
db = pymysql.connect(host='localhost', port=3306, user='root', \
                     passwd='starlight0630!', charset='utf8')
cursor = db.cursor()

In [3]:
sql = 'create database IF NOT EXISTS visuallizePjt'
cursor.execute(sql)

1

In [4]:
sql ='use visuallizePjt'
cursor.execute(sql)

0

In [5]:
sql = 'DROP TABLE IF EXISTS REGION_COUNTRY_DEP;'
cursor.execute(sql)

0

In [6]:
sql = '''
CREATE TABLE REGION_COUNTRY_DEP (
    dep_id int not null auto_increment,
    region varchar(10) not null,
    nation varchar(10) not null,
    flights int not null,
    passengers int not null,
    freights int not null,
    primary key(dep_id)
);
'''
cursor.execute(sql)

0

In [7]:
db.commit()
db.close()

# 데이터 로드 및 전처리

In [8]:
df = pd.read_excel("./region_country_dep.xlsx")
df

        지역    국가  운항(편)    여객(명)    화물(톤)
0    전체 합계   NaN  91714  9815393  1658148
1      아시아    일본  12044  1541437   147108
2      아시아    중국   9784   203239   217587
3   소계:아시아   NaN  33231  4473827   487265
4      아시아    네팔     97    10627      965
..     ...   ...    ...      ...      ...
68      기타  이스라엘      5      606       60
69      기타   이집트      0        0        0
70      기타   카타르    574   115146    27093
71      기타    케냐      0        0        0
72      기타    한국     63     9086        9

[73 rows x 5 columns]

In [9]:
# NaN 전처리 -> 괜찮은거 맞는지 확인 
df = df.dropna(axis = 0)
df

     지역    국가  운항(편)    여객(명)   화물(톤)
1   아시아    일본  12044  1541437  147108
2   아시아    중국   9784   203239  217587
4   아시아    네팔     97    10627     965
5   아시아    대만   3003   138595   50519
6   아시아   라오스    244    28909     702
..  ...   ...    ...      ...     ...
68   기타  이스라엘      5      606      60
69   기타   이집트      0        0       0
70   기타   카타르    574   115146   27093
71   기타    케냐      0        0       0
72   기타    한국     63     9086       9

[67 rows x 5 columns]

In [10]:
# 소계 행 전처리 ?? ?

# DB Insert

In [11]:
host_name = 'localhost'
host_port = 3306
username = 'root'
password = 'starlight0630!'
database_name = 'visuallizePjt'

In [12]:
db = pymysql.connect(\
                    host = host_name,\
                    port = host_port,\
                    user = username, \
                    passwd = password, \
                    db = database_name, \
                    charset = 'utf8')

In [13]:
cursor = db.cursor()

In [14]:
sql = 'INSERT INTO REGION_COUNTRY_DEP (region, nation, flights, passengers, freights) VALUES (%s, %s, %s, %s, %s)'

In [15]:
for idx in range(len(df)) :
    cursor.execute(sql, tuple(df.values[idx]))

In [18]:
sql = "select * from region_country_dep;"
cursor.execute(sql)
result = cursor.fetchall()
result

((1, '아시아', '일본', 12044, 1541437, 147108),
 (2, '아시아', '중국', 9784, 203239, 217587),
 (3, '아시아', '네팔', 97, 10627, 965),
 (4, '아시아', '대만', 3003, 138595, 50519),
 (5, '아시아', '라오스', 244, 28909, 702),
 (6, '아시아', '말레이시아', 1726, 174841, 29288),
 (7, '아시아', '몽골', 1084, 146930, 8910),
 (8, '아시아', '미얀마', 223, 18624, 771),
 (9, '아시아', '방글라데시', 52, 4212, 222),
 (10, '아시아', '베트남', 10449, 1475633, 137705),
 (11, '아시아', '브루나이', 14, 1107, 23),
 (12, '아시아', '스리랑카', 64, 10755, 946),
 (13, '아시아', '싱가포르', 2703, 524723, 53927),
 (14, '아시아', '인도', 295, 40419, 4731),
 (15, '아시아', '인도네시아', 912, 165309, 16510),
 (16, '아시아', '캄보디아', 682, 106191, 3769),
 (17, '아시아', '태국', 4137, 781678, 36281),
 (18, '아시아', '투르크매니스탄', 0, 0, 0),
 (19, '아시아', '필리핀', 4515, 733953, 33166),
 (20, '아시아', '홍콩', 3031, 111321, 108830),
 (21, '미주', '멕시코', 200, 6286, 3172),
 (22, '미주', '미국', 20592, 1385933, 454028),
 (23, '미주', '브라질', 153, 0, 3184),
 (24, '미주', '캐나다', 1424, 241287, 24978),
 (25, '유럽', '네덜란드', 512, 67721, 14898),
 (26, '유럽', '노르웨이', 117, 0, 604),
 (27, '유럽', '독일', 3425, 219146, 78079),
 (28, '유럽', '러시아', 142, 5854, 3815),
 (29, '유럽', '룩셈부르크', 167, 0, 14693),
 (30, '유럽', '벨기에', 159, 0, 186),
 (31, '유럽', '불가리아', 0, 0, 0),
 (32, '유럽', '스웨덴', 41, 0, 115),
 (33, '유럽', '스위스', 52, 0, 48),
 (34, '유럽', '스페인', 227, 23021, 8542),
 (35, '유럽', '아제르바이잔', 168, 0, 12547),
 (36, '유럽', '영국', 560, 78408, 20748),
 (37, '유럽', '오스트리아', 84, 17163, 33292),
 (38, '유럽', '우즈베키스탄', 571, 69325, 11718),
 (39, '유럽', '우크라이나', 8, 0, 37),
 (40, '유럽', '이탈리아', 686, 42745, 11831),
 (41, '유럽', '체코', 3, 246, 39),
 (42, '유럽', '카자흐스탄', 290, 46026, 2352),
 (43, '유럽', '크로아티아', 3, 633, 12),
 (44, '유럽', '키르기즈스탄', 22, 858, 89),
 (45, '유럽', '타지키스탄', 0, 0, 95),
 (46, '유럽', '튀르키예', 609, 140093, 16837),
 (47, '유럽', '폴란드', 242, 51658, 3558),
 (48, '유럽', '프랑스', 636, 158033, 10578),
 (49, '유럽', '핀란드', 219, 39692, 4075),
 (50, '유럽', '헝가리', 119, 26569, 3192),
 (51, '대양주', '괌', 1460, 225603, 4911),
 (52, '대양주', '뉴질랜드', 190, 35194, 2521),
 (53, '대양주', '사이판', 600, 79461, 1149),
 (54, '대양주', '하와이', 699, 147513, 9580),
 (55, '대양주', '호주', 591, 101685, 3982),
 (56, '기타', '레바논', 3, 340, 27),
 (57, '기타', '모잠비크', 1, 0, 46),
 (58, '기타', '부르키나 파소', 1, 0, 23),
 (59, '기타', '사우디아라비아', 97, 11273, 1777),
 (60, '기타', '수단', 1, 0, 25),
 (61, '기타', '아랍에미레이트', 786, 230519, 16128),
 (62, '기타', '이디오피아', 153, 19767, 1516),
 (63, '기타', '이스라엘', 5, 606, 60),
 (64, '기타', '이집트', 0, 0, 0),
 (65, '기타', '카타르', 574, 115146, 27093),
 (66, '기타', '케냐', 0, 0, 0),
 (67, '기타', '한국', 63, 9086, 9))

In [19]:
db.commit()
db.close()

# 시각화

In [22]:
db = pymysql.connect(\
                    host = host_name,\
                    port = host_port,\
                    user = username, \
                    passwd = password, \
                    db = database_name, \
                    charset = 'utf8')

In [24]:
sql = "select * from region_country_dep"
df = pd.read_sql(sql,db)
df

    dep_id region nation  flights  passengers  freights
0        1    아시아     일본    12044     1541437    147108
1        2    아시아     중국     9784      203239    217587
2        3    아시아     네팔       97       10627       965
3        4    아시아     대만     3003      138595     50519
4        5    아시아    라오스      244       28909       702
..     ...    ...    ...      ...         ...       ...
62      63     기타   이스라엘        5         606        60
63      64     기타    이집트        0           0         0
64      65     기타    카타르      574      115146     27093
65      66     기타     케냐        0           0         0
66      67     기타     한국       63        9086         9

[67 rows x 6 columns]

In [60]:
result = df.groupby('region').max('flights')
result

        dep_id  flights  passengers  freights
region
기타          67      786      230519     27093
대양주         55     1460      225603      9580
미주          24    20592     1385933    454028
아시아         20    12044     1541437    217587
유럽          50     3425      219146     78079

In [64]:
plt.rcParams['font.family'] = 'Malgun Gothic' #폰트 변경 
plt.pie(result['flights'], labels=result['region'], autopct='%.1f%%')
plt.show()

KeyError: 'region'